<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/assets/img/logos/cyber-web-logo.png">
    <link rel="stylesheet" type="text/css" href="/assets/css/product.css" />
    <title>CyberWeb</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.css">

    <link rel="stylesheet" href="/assets/css/templatemo-training-studio.css">

    <!-- CyberWebSite CSS File -->
    <link rel="stylesheet" type="text/css" href="/assets/css/cyber-web-site.css">

    <!-- Cart CSS File -->
    <link rel="stylesheet" type="text/css" href="/assets/css/cart.css">

    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/0a9f356c66.js" crossorigin="anonymous"></script>

    <style>

    </style>
</head>

<body>
<!-- ***** Preloader Start ***** -->
<div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/site/index" class="logo">CyberWeb</a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="/site/index"><i class="fa-solid fa-house"></i> Home</a></li>
                        <li class="scroll-to-section"><a href="/site/index#features"><i class="fa-solid fa-gun"></i> Gun</a></li>
                        <li class="scroll-to-section"><a href=""><i class="fa-solid fa-cart-shopping"></i> Cart</a></li>
                        <!-- 如果用戶未登入，顯示登入按鈕 -->
                        <li class="main-button" sec:authorize="!isAuthenticated()">
                            <form action="/user/login" method="get">
                                <button type="submit" class="cyberpunk-btn">Login</button>
                            </form>
                        </li>
                        <!-- 登入後顯示的部分 -->
                        <li class="main-button dropdown" sec:authorize="isAuthenticated()">
                            <!-- 隱藏hashId -->
                            <span id="userHashId" style="display:none" th:text="${userHashId}"></span>
                            <button class="cyberpunk-btn dropBtn">Welcome, <span sec:authentication="name">User</span></button>
                            <div class="dropdown-content">
                                <form action="/site/profile" method="get">
                                    <button type="submit" class="cyberpunk-btn">Member</button>
                                </form>
                                <form action="/dashboard/index" method="get" sec:authorize="hasAuthority('ROLE_ADMIN')">
                                    <button type="submit" class="cyberpunk-btn">Dashboard</button>
                                </form>
                                <form action="/logout" method="post">
                                    <button type="submit" class="cyberpunk-btn">Logout</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner" id="top">
    <video autoplay muted loop id="bg-video">
        <source src="/assets/img/Cyberpunk_EdgeRunners_1080p.mp4" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
        <!-- ***** Caption Start ***** -->
        <div class="caption">
            <div class="cyberpunk-cart">
                <h4 class="cart-title">Cart</h4>
                <!-- Cart items container will be dynamically filled based on localStorage data -->
                <div class="cart-items">
                    <!-- Dynamic cart items will be appended here by JavaScript -->
                </div>
                <div class="cart-summary">
                    <!-- Payment Method Selection -->
                    <div class="payment-method-selection">
                        <label for="paymentMethod">Payment Method:</label>
                        <select id="paymentMethod" class="payment-method-select">
                            <option value="" disabled>Select :</option>
                            <option value="linePay">LinePay</option>
                            <option value="paypal">PayPal</option>
                            <option value="creditCard">Credit Card</option>
                        </select>
                    </div>
                    <div class="total-summary">
                        <span class="summary-title">Total:</span>
                        <!-- The total price will be dynamically updated by JavaScript -->
                        <span class="summary-price">$0.00</span>
                    </div>
                </div>
                <button class="checkout-btn">Checkout</button>
            </div>
        </div>
        <!-- ***** Caption End ***** -->
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->

<!-- jQuery -->
<script src="/assets/js/jquery-2.1.0.min.js"></script>

<!-- Bootstrap -->
<script src="/assets/js/popper.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="/assets/js/scrollreveal.min.js"></script>
<script src="/assets/js/waypoints.min.js"></script>
<script src="/assets/js/jquery.counterup.min.js"></script>
<script src="/assets/js/imgfix.min.js"></script>
<script src="/assets/js/mixitup.js"></script>
<script src="/assets/js/accordions.js"></script>

<!-- Global Init -->
<script src="/assets/js/custom.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const userHashId = document.getElementById('userHashId') ? document.getElementById('userHashId').textContent : 'default';
        updateCartUI(userHashId); // 頁面加載就更新購物車內容
        addEventListenersToButtons(userHashId); // 為按鈕添加事件監聽器

        // 檢查並恢復選擇的支付方法
        var savedPaymentMethod = localStorage.getItem('selectedPaymentMethod');
        if (savedPaymentMethod) {
            document.getElementById('paymentMethod').value = savedPaymentMethod;
        }

        document.getElementById('paymentMethod').addEventListener('change', function() {
            localStorage.setItem('selectedPaymentMethod', this.value); // 保存選擇到 localStorage
        });
    });

    // 更新購物車
    function updateCartUI(userHashId) {
        const cartKey = 'cart_' + userHashId;
        const cartItems = JSON.parse(localStorage.getItem(cartKey)) || [];
        const cartItemsContainer = document.querySelector('.cart-items');
        const paymentMethodSelection = document.querySelector('.payment-method-selection');
        const totalSummary = document.querySelector('.total-summary');
        const checkoutButton = document.querySelector('.checkout-btn');

        cartItemsContainer.innerHTML = ''; // 清空購物車項目容器

        let total = 0;
        if (cartItems.length === 0) {
            // 購物車為空時隱藏支付方式選擇、總計和結帳按鈕，並顯示提示信息
            paymentMethodSelection.style.display = 'none';
            totalSummary.style.display = 'none';
            checkoutButton.style.display = 'none';

            const emptyCartMessage = document.createElement('div');
            emptyCartMessage.innerHTML = `<p>Your cart is empty. Please <a href="/site/index#features" class="neon-link">visit our products page</a> to add items.</p>`;
            cartItemsContainer.appendChild(emptyCartMessage);
        } else {
            // 購物車不為空時顯示支付方式選擇、總計和結帳按鈕，並更新購物車項目
            paymentMethodSelection.style.display = '';
            totalSummary.style.display = '';
            checkoutButton.style.display = '';

            cartItems.forEach((item, index) => {
                const cartItemElement = document.createElement('div');
                cartItemElement.className = 'cart-item';
                cartItemElement.innerHTML = `
                <div class="item-info">
                    <div class="item-image">
                        <img src="${item.productImagePath}" alt="${item.name}">
                    </div>
                    <div class="item-details">
                        <span class="item-name">${item.name}</span>
                        <span class="item-price">$${item.price}</span>
                    </div>
                </div>
                <div class="item-quantity">
                    <button class="quantity-decrease" data-index="${index}">-</button>
                    <input type="text" value="${item.quantity}" readonly>
                    <button class="quantity-increase" data-index="${index}">+</button>
                </div>
                <div class="item-total">
                    <span>$${(item.price * item.quantity).toFixed(2)}</span>
                </div>
                <button class="item-remove" data-index="${index}">Remove</button>
            `;
                cartItemsContainer.appendChild(cartItemElement);
                total += item.price * item.quantity;
            });

            // 更新總計信息
            const summaryPrice = document.querySelector('.summary-price');
            summaryPrice.textContent = `$${total.toFixed(2)}`;
        }
    }

    // 按鈕監聽
    function addEventListenersToButtons(userHashId) {
        // 確保在動態生成的元素上綁定事件
        document.querySelector('.cart-items').addEventListener('click', function(e) {
            if (e.target.className.includes('quantity-increase')) {
                modifyCartItemQuantity(userHashId, e.target.dataset.index, true);
            } else if (e.target.className.includes('quantity-decrease')) {
                modifyCartItemQuantity(userHashId, e.target.dataset.index, false);
            } else if (e.target.className.includes('item-remove')) {
                removeCartItem(userHashId, e.target.dataset.index);
            }
        });
    }

    // 調整購物車產品數量
    function modifyCartItemQuantity(userHashId, index, increase) {
        const cartKey = 'cart_' + userHashId;
        let cartItems = JSON.parse(localStorage.getItem(cartKey));
        if (increase) {
            cartItems[index].quantity += 1;
        } else {
            if (cartItems[index].quantity > 1) {
                cartItems[index].quantity -= 1;
            }
        }
        localStorage.setItem(cartKey, JSON.stringify(cartItems));
        updateCartUI(userHashId); // 重新更新購物車UI
    }

    // 刪除購物車產品
    function removeCartItem(userHashId, index) {
        const cartKey = 'cart_' + userHashId;
        let cartItems = JSON.parse(localStorage.getItem(cartKey));
        cartItems.splice(index, 1); // 從數組中移除項目
        localStorage.setItem(cartKey, JSON.stringify(cartItems));
        updateCartUI(userHashId); // 重新更新購物車UI
    }

    // 結帳入口點
    document.querySelector('.checkout-btn').addEventListener('click', function() {
        const selectedPaymentMethod = document.getElementById('paymentMethod').value;
        if (!selectedPaymentMethod) {
            alert('Please select a payment method.');
            return; // Prevent further action if no payment method is selected
        }

        // Process checkout based on the selected payment method
        switch (selectedPaymentMethod) {
            case 'creditCard':
                // Redirect to Credit Card Payment Controller
                window.location.href = '/payment/creditCard';
                break;
            case 'paypal':
                // Redirect to PayPal Payment Controller
                window.location.href = '/payment/paypal';
                break;
            case 'linePay':
                // Redirect to LinePay Payment Controller
                window.location.href = '/payment/linePay';
                break;
            // Add more cases for additional payment methods
            default:
                console.error('Unknown payment method.');
        }
    });

    document.addEventListener('DOMContentLoaded', function() {
        // 嘗試從 DOM 中獲取用戶 hash ID，如果不存在則使用默認值
        const userHashId = document.getElementById('userHashId') ? document.getElementById('userHashId').textContent : 'defaultUser';
        const paymentMethodKey = 'selectedPaymentMethod_' + userHashId; // 使用 userHashId 作為 localStorage 鍵的一部分

        // 檢查 localStorage 中是否有保存的支付方法針對特定用戶
        var savedPaymentMethod = localStorage.getItem(paymentMethodKey);

        if (savedPaymentMethod) {
            // 如果有保存的支付方法，則選擇該方法
            document.getElementById('paymentMethod').value = savedPaymentMethod;
        } else {
            // 如果沒有保存的支付方法，則選擇預設的不可選擇選項
            document.getElementById('paymentMethod').value = '';
        }

        // 監聽選擇變更事件
        document.getElementById('paymentMethod').addEventListener('change', function() {
            // 保存選擇到 localStorage，針對特定用戶
            localStorage.setItem(paymentMethodKey, this.value);
        });
    });

</script>
</body>
</html>