<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/assets/img/logos/cyber-web-logo.png">
    <link rel="stylesheet" type="text/css" href="/assets/css/product.css" />
    <title>CyberWeb</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.css">

    <link rel="stylesheet" href="/assets/css/templatemo-training-studio.css">

    <!-- CyberWebSite CSS File -->
    <link rel="stylesheet" type="text/css" href="/assets/css/cyber-web-site.css">

    <!-- Cart CSS File -->
    <link rel="stylesheet" type="text/css" href="/assets/css/cart.css">

    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/0a9f356c66.js" crossorigin="anonymous"></script>

    <style>

    </style>

</head>

<body>

<!-- ***** Preloader Start ***** -->
<div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- ***** Preloader End ***** -->


<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/site/index" class="logo">CyberWeb</a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#top"><i class="fa-solid fa-house"></i> Home</a></li>
                        <li class="scroll-to-section"><a href="#features"><i class="fa-solid fa-gun"></i> Gun</a></li>
                        <li class="scroll-to-section">
                            <a href="/site/cart"><i class="fa-solid fa-cart-shopping"></i> Cart</a>
                            <span id="cartItemCount" class="cyberpunk-cart-count"></span>
                        </li>
                        <!-- 如果用戶未登入，顯示登入按鈕 -->
                        <li class="main-button" sec:authorize="!isAuthenticated()">
                            <form action="/user/login" method="get">
                                <button type="submit" class="cyberpunk-btn">Login</button>
                            </form>
                        </li>
                        <!-- 登入後顯示的部分 -->
                        <li class="main-button dropdown" sec:authorize="isAuthenticated()">
                            <!-- 隱藏hashId -->
                            <span id="userHashId" style="display:none" th:text="${userHashId}"></span>
                            <button class="cyberpunk-btn dropBtn">Welcome, <span sec:authentication="name">User</span></button>
                            <div class="dropdown-content">
                                <form action="/site/profile" method="get">
                                    <button type="submit" class="cyberpunk-btn">Member</button>
                                </form>
                                <form action="/dashboard/index" method="get" sec:authorize="hasAuthority('ROLE_ADMIN')">
                                    <button type="submit" class="cyberpunk-btn">Dashboard</button>
                                </form>
                                <form action="/logout" method="post">
                                    <button type="submit" class="cyberpunk-btn">Logout</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner" id="top">
    <video autoplay muted loop id="bg-video">
        <source src="/assets/img/Cyberpunk_EdgeRunners_1080p.mp4" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
        <div class="caption">
            <h6>“I'm Gonna Take You There Myself, Fly You To The Moon. That's A Promise.”</h6>
            <h2>Cyberpunk<em style="color: #ff6eec"> 2077</em></h2>
            <div class="main-button scroll-to-section">
                <a href="#features" style="background: #ff379e; border-radius: 10px">Buy Something</a>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->

<!-- ***** Features Item Start ***** -->
<section class="section" id="features">>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <div class="image-container" style="display: flex; justify-content: center;">
                        <img src="/assets/img/cyberpunk-2077-logo.png" style="margin-right: 450px; width: 100%;" alt="waves">
                    </div>
                    <p style="margin-left: -210px; width: 100%;">Here you can buy guns from the game "Cyberpunk 2077", that's all.</p>
                </div>
            </div>
            <div class="col-lg-6" id="productContainer">
                <div class="row" id="productRow">
                    <!-- AJAX動態加載的產品將顯示在這裡 -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Item End ***** -->

<!-- Cyberpunk 弹窗容器 -->
<div id="cyberpunkAlert" class="cyberpunk-alert" style="display: none;">
    <div class="cyberpunk-alert-content">
        <h2 id="alertTitle">Success!</h2>
        <p id="alertMessage">Product added to cart!</p>
        <button onclick="closeCyberpunkAlert()">OK</button>
    </div>
</div>

<!-- ***** Footer Start ***** -->
<footer>
    <div class="container" style="margin-left: -400px">
        <div class="row">
            <div class="col-lg-12">
                <p style="color: white;">© 2024, Customizing by Sean.</p>

                <!-- You shall support us a little via PayPal to info@templatemo.com -->

            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="/assets/js/jquery-2.1.0.min.js"></script>

<!-- Bootstrap -->
<script src="/assets/js/popper.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="/assets/js/scrollreveal.min.js"></script>
<script src="/assets/js/waypoints.min.js"></script>
<script src="/assets/js/jquery.counterup.min.js"></script>
<script src="/assets/js/imgfix.min.js"></script>
<script src="/assets/js/mixitup.js"></script>
<script src="/assets/js/accordions.js"></script>

<!-- Global Init -->
<script src="/assets/js/custom.js"></script>

<!-- swl2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    let shouldRedirectToLogin = false;

    // 當文檔加載完成時，執行初始化操作
    document.addEventListener('DOMContentLoaded', async () => {
        // 嘗試從 DOM 中獲取用戶 hash ID
        const userHashId = document.getElementById('userHashId')?.textContent || null;

        // 如果用戶已登入（即存在用戶 hash ID），則初始化購物車
        if (userHashId) initializeCart(userHashId);
        // 異步獲取產品數據
        await fetchProducts();
        // 設置頁面滾動到指定位置的功能
        setupPageScroll();
        // 更新購物車圖標上的商品數量顯示，當滑鼠懸停時
        updateCartItemCountOnHover();
    });

    // 異步獲取產品數據的
    async function fetchProducts() {
        try {
            const response = await fetch('/product/fetchProducts');
            const data = await response.json();
            // 將獲取的產品數據顯示到頁面上
            displayProducts(data.content);
        } catch (error) {
            console.error('Error fetching products:', error);
        }
    }

    // 將產品數據顯示到頁面上的
    function displayProducts(products) {
        const productRow = document.getElementById('productRow');
        let newRow = productRow;

        products.forEach((product, index) => {
            // 每3個產品開始一新行
            if (index % 3 === 0) {
                newRow = document.createElement('div');
                newRow.className = 'row';
                productRow.parentNode.appendChild(newRow);
            }
            newRow.appendChild(createProductColDiv(product));
        });
    }

    // 創建產品列的 HTML 結構
    function createProductColDiv(product) {
        const colDiv = document.createElement('div');
        colDiv.className = 'col-lg-4';
        colDiv.innerHTML = `
        <ul class="features-items">
            <li class="feature-item" data-product-id="${product.id}">
                <div class="card">
                    <div class="imgBox" style="height: 320px; width: 320px;">
                        <img src="${product.productImagePath}" alt="${product.name}" class="mouse">
                    </div>
                    <div class="contentBox">
                        <h3>${product.name}</h3>
                        <h2 class="price">$${product.price}</h2>
                        <a href="#" class="buy">Buy Now</a>
                    </div>
                </div>
            </li>
        </ul>`;
        return colDiv;
    }

    // 初始化購物車，如果本地存儲中不存在該用戶的購物車則創建一個空的
    function initializeCart(userHashId) {
        const cartKey = `cart_${userHashId}`;
        localStorage.getItem(cartKey) || localStorage.setItem(cartKey, JSON.stringify([]));
    }

    // 處理點擊事件，當點擊購買按鈕時加入購物車
    document.addEventListener('click', (event) => {
        const userHashId = document.getElementById('userHashId')?.textContent || null;

        if (event.target.classList.contains('buy')) {
            event.preventDefault();
            // 如果用戶未登入，顯示登入提示
            if (!userHashId) {
                setCyberpunkAlert("Login Required", "Please login to add items to your cart.");
                shouldRedirectToLogin = true; // 在這裡設置標誌
                return;
            }
            // 將產品加入購物車
            addToCart(event.target.closest('.feature-item'), userHashId);
        }
    });

    // 加入購物車
    function addToCart(featureItem, userHashId) {
        const cartKey = `cart_${userHashId}`;
        const product = extractProductInfo(featureItem);

        let cart = JSON.parse(localStorage.getItem(cartKey) || '[]');
        let existingProduct = cart.find(item => item.id === product.id);
        existingProduct ? existingProduct.quantity += 1 : cart.push(product);

        localStorage.setItem(cartKey, JSON.stringify(cart));
        setCyberpunkAlert("Success!", "Product added to cart!");
    }

    // 從選中的產品項目中提取產品信息
    function extractProductInfo(featureItem) {
        return {
            id: featureItem.dataset.productId,
            name: featureItem.querySelector('.contentBox h3').textContent,
            price: parseFloat(featureItem.querySelector('.contentBox .price').textContent.replace('$', '')),
            productImagePath: featureItem.querySelector('.imgBox img').src,
            quantity: 1
        };
    }

    // 設置並顯示彈出提示
    function setCyberpunkAlert(title, message) {
        document.getElementById('alertTitle').textContent = title;
        document.getElementById('alertMessage').textContent = message;
        showCyberpunkAlert();
    }

    // 顯示彈出提示
    function showCyberpunkAlert() {
        const alert = document.getElementById('cyberpunkAlert');
        alert.style.display = 'flex';
        document.addEventListener('keydown', event => {
            if (event.key === 'Escape') closeCyberpunkAlert();
        });
    }

    // 關閉彈出提示
    function closeCyberpunkAlert() {
        const alert = document.getElementById('cyberpunkAlert');
        alert.style.animation = 'fadeOut 0.5s';
        alert.addEventListener('animationend', () => {
            alert.style.display = 'none';
            alert.style.animation = 'none';

            // 檢查是否需要重定向到登錄頁面
            if (shouldRedirectToLogin) {
                window.location.href = "/user/login";
                shouldRedirectToLogin = false; // 重設標誌以避免未來無意的重定向
            }
        });
    }

    // 設置頁面滾動到指定位置的功能
    function setupPageScroll() {
        const hash = window.location.hash;
        if (hash === '#features') {
            $('html, body').animate({ scrollTop: $(hash).offset().top }, 500);
        }
    }

    // 更新購物車圖標上的商品數量顯示，當滑鼠懸停時
    function updateCartItemCountOnHover() {
        const cartCountSpan = document.getElementById('cartItemCount');
        const cartLink = document.querySelector('.scroll-to-section a[href="/site/cart"]');

        const userHashId = document.getElementById('userHashId')?.textContent || null;

        cartLink?.parentElement.addEventListener('mouseover', () => {
            if (userHashId) {
                updateCartItemCount();
                cartCountSpan.classList.add('show');
            }
        });

        cartLink?.parentElement.addEventListener('mouseout', () => cartCountSpan.classList.remove('show'));
    }

    // 更新購物車圖標上的商品數量
    function updateCartItemCount() {
        const userHashId = document.getElementById('userHashId')?.textContent;
        const cartKey = `cart_${userHashId}`;
        const cart = JSON.parse(localStorage.getItem(cartKey) || '[]');
        document.getElementById('cartItemCount').textContent = `${new Set(cart.map(item => item.id)).size} items`;
    }

</script>
</body>
</html>